<div class="page-header">
  <h1><%= @title %></h1>
</div>

<div id="source_form">
<%= form_for @source, html: { role: 'form' } do |f| %>
  <%= display_errors @source %>

  <div class="row">
    <div class='col-md-6'>
      <fieldset>

        <div class="form-group">
          <%= f.label :source_type_id, nil, class: 'control-label' %>
          <%= f.select :source_type_id, [['---', nil]] + SourceType.current.collect{|s| [s.name, s.id]}, {}, {rel: :chosen, class: 'form-control',  data: {placeholder: "Chose one..."}} %>
        </div>

        <div class="form-group">
          <%= f.label :location, nil, class: 'control-label' %>
          <%= f.text_field :location, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :original_location, nil, class: 'control-label' %>
          <%= f.text_field :original_location, class: 'form-control' %>
        </div>
      </fieldset>
    </div>

    <div class='col-md-6'>
      <fieldset class='subject'>
        <legend>Associated Subject</legend>
        <%= f.select :subject_id, [['---', nil]] + Subject.current.collect{|s| [s.subject_code, s.id]}, {}, {rel: :chosen, class: 'form-control',  data: {placeholder: "Chose one if applicable..."}} %>
      </fieldset>

      <fieldset class='source-hierarchy'>
        <legend>Source hierarchy</legend>
        <div class="fields"><div class="center" id="ajax_loader"><%= image_tag "contour/ajax-loader.gif" %></div></div>
      </fieldset>
    </div>

  </div>

  <fieldset>
    <div class="form-group">
      <%= f.label :worksheet_name, nil, class: 'control-label' %>
      <%= f.text_field :worksheet_name, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.label :description, nil, class: 'control-label' %>
    <%= f.text_area :description, rows: 7, class: 'form-control description' %>
    </div>

    <div class="form-group">
    <%= f.label :notes, nil, class: 'control-label' %>
    <%= f.text_area :notes, rows: 2, class: 'form-control notes' %>
    </div>

    <div class="form-group">
      <%= f.label :column_map, nil, class: 'control-label' %>
      <%= f.text_area :column_map, rows: 100, class: 'form-control description' %>
    </div>

  </fieldset>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
</div>