<%= fields_for @source do |f|%>
    <div class="form-group">
      <%= f.label :parent_id, 'Parent source', class: 'control-label' %>
      <%= f.select :parent_id, [['---', nil]] + Source.current.collect{|s| [s.location, s.id]}, {}, {rel: :chosen, class: 'form-control',  data: {placeholder: "Select parent source"}} %>
    </div>

    <div class="form-group">
      <%= f.label :child_source_ids, 'Child sources', class: 'control-label' %>
      <%= f.collection_select :child_source_ids, Source.current.order(:location), :id, :location, {}, {multiple: true, rel: 'chosen', class: 'form-control', data: {placeholder: "Select sources that contributed to this source"}} %>
    </div>
<% end %>