<p class='text-info object-info'><%= page_entries_info @sources %></p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= sort_field_helper(params[:order], 'location', 'Location') %></th>
      <th>Source Type</th>
      <th>User</th>
      <th>Parent Source</th>
      <th>Child Sources</th>
      <th><%= sort_field_helper(params[:order], 'created_at', 'Created') %></th>
      <th><%= sort_field_helper(params[:order], 'updated_at', 'Updated') %></th>
      <th></th>
    </tr>
  </thead>

  <% @sources.each do |source| %>
    <tr>
      <td><%= link_to source.location, source %></td>
      <td><%= link_to source.source_type.name, source.source_type if source.source_type %></td>
      <td><%= source.user.name if source.user %></td>
      <td><%= link_to(source.parent_source.id, source.parent_source) if source.parent_source %></td>
      <td><%= source.child_sources.length %></td>
      <td><%= simple_date(source.created_at) %></td>
      <td><%= simple_date(source.updated_at) %></td>


      <td>
        <%= render partial: 'layouts/index_actions', locals: {object: source, edit_path: edit_source_path(source) } %>
      </td>

    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @sources %></div>

