<p class='text-info object-info'><%= page_entries_info @documentations %></p>
<table class="table table-striped table-bordered" id='documentations'>
  <thead>
  <tr>
    <th><%= sort_field_helper(params[:order], 'title', 'Title', 'documentations_search') %></th>
    <th><%= sort_field_helper(params[:order], 'author', 'Author', 'documentations_search') %></th>
    <th><%= sort_field_helper(params[:order], 'description', 'Description', 'documentations_search') %></th>
    <th>Supporting Docs</th>
    <th>Links</th>
    <th><%= sort_field_helper(params[:order], 'created_at', 'Created At', 'sources_search') %></th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
    <% @documentations.each do |documentation| %>
      <tr>
        <td><%= link_to documentation.title, documentation %></td>
        <td><%= documentation.author %></td>
        <td><%= truncate(documentation.description, length: 100) %></td>
        <td><%= documentation.supporting_documentations.length %></td>
        <td><%= documentation.documentation_links.length %></td>
        <td><%= simple_date(documentation.created_at) %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <%= link_to 'Edit', edit_documentation_path(documentation), class: 'btn btn-xs btn-default btn-block' %>
              <%= link_to 'Delete', documentation, method: :delete, class: 'btn btn-xs btn-danger btn-block', data: { confirm: "Are you sure you want to delete Documentation #{documentation.title}?" } %>
            </ul>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center navigation"><%= paginate @documentations, theme: 'contour' %></div>
