<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th><%= sort_field_helper(params[:order], 'title', 'Title', 'documentations_search') %></th>
    <th><%= sort_field_helper(params[:order], 'author', 'Author', 'documentations_search') %></th>
    <th><%= sort_field_helper(params[:order], 'origin_location', 'Origin Location', 'documentations_search') %></th>
    <th><%= sort_field_helper(params[:order], 'description_of_procedure', 'Description Of Procedure', 'documentations_search') %></th>
    <th>User</th>
    <th>Actions</th>
  </tr>
  </thead>

  <% @documentations.each do |documentation| %>
    <tr>
      <td><%= link_to documentation.title, documentation %></td>
      <td><%= documentation.author %></td>
      <td><%= documentation.origin_location %></td>
      <td><%= documentation.description_of_procedure %></td>
      <td><%= link_to documentation.user.name, documentation.user if documentation.user %></td>
      <td>
        <div class="btn-group">
          <%= link_to 'Edit', edit_documentation_path(documentation), class: 'btn btn-mini' %>
          <%= link_to 'Delete', documentation, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Documentation #{documentation.title}?" } %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @documentations, theme: 'contour' %></div>
