<%= form_for @documentation, html: { class: 'form-horizontal' } do |f| %>
  <%= display_errors @documentation %>

  <fieldset>

    <div class="control-group">
      <%= f.label :title, nil, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :author, nil, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :author %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :description, nil, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, rows: 7, style: 'width:95%' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Supporting documentations</legend>
  </fieldset>

  <fieldset>
    <legend>Links to other resources</legend>
  </fieldset>


  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
