<% @title = 'Documentations' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Documentation", new_documentation_path, class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= render :partial => "layouts/search", locals: { object: :documentations, path: documentations_path } %>
<%= render partial: 'layouts/per_page', locals: { object: :documentations, per_page: 25 } %>

<div class="center" id="ajax_loader"><%= image_tag "contour/ajax-loader.gif" %></div>
<div id="documentations" class="index-content"></div>
