<%=
    render partial: "layouts/show_page_header",
           locals: {
                   model: @documentation,
                   title: "Documentation: #{@documentation.title}",
                   edit_path: edit_documentation_path(@documentation),
                   index_path: documentations_path,
                   new_path: new_documentation_path
           }
%>
<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @documentation.title %></dd>

  <dt>Author</dt>
  <dd><%= @documentation.author %></dd>

  <dt>Created By</dt>
  <dd><%= link_to @documentation.user.name if @documentation.user %></dd>

</dl>

<strong>Description</strong>
<div class="container"><%= markdown @documentation.description %></div>

