<%=
    render partial: "layouts/show_page_header",
           locals: {
                   model: @documentation,
                   title: "Documentation: #{@documentation.title}",
                   edit_path: edit_documentation_path(@documentation),
                   index_path: documentations_path,
                   new_path: new_documentation_path
           }
%>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Main Attributes
      </div>
      <div class="list-group dl-horizontal">
        <div class="list-group-item">
          <h5 class="text-muted">Title</h5><%= @documentation.title %>
        </div>
        <div class="list-group-item">
          <h5 class="text-muted">Author</h5><%= @documentation.author %>
        </div>
        <div class="list-group-item">
          <h5 class="text-muted">Created</h5><%= simple_date(@documentation.created_at) %>
        </div>
        <div class="list-group-item">
          <h5 class="text-muted">Updated</h5><%= simple_date(@documentation.updated_at) %>
        </div>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Related Documentations
      </div>
      <!-- List group -->
      <div class="list-group">
        <div class="list-group-item">
          <span class="badge"><%= @documentation.supported_documentations.length %></span>
          <span class="text-info">Supported</span>
        </div>
        <% @documentation.supported_documentations.each do |sd| %>
          <%= link_to sd.title, sd, class: "list-group-item" %>
        <% end %>
      </div>

      <div class="list-group">
        <div class="list-group-item">
          <span class="badge"><%= @documentation.supporting_documentations.length %></span>
          <span class="text-info">Supporting</span>
        </div>
        <% @documentation.supporting_documentations.each do |sd| %>
          <%= link_to sd.title, sd, class: 'list-group-item' %>
        <% end %>
      </div>
    </div>


  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Description
      </div>
      <div class="panel-body scroll">

        <div id="print-area">
          <%= markdown @documentation.description %>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Other Links
      </div>
      <div class="list-group">
        <% @documentation.documentation_links.each do |dl| %>
          <div class="list-group-item">
            <strong><%= dl.title  %>:</strong>
            <%= dl.path %>
          </div>
        <% end  %>
      </div>
    </div>

  </div>
</div>






