<%=
    render partial: "layouts/show_page_header",
           locals: {
                   model: @source_type,
                   title: "Source Type: #{@source_type.name}",
                   edit_path: edit_source_type_path(@source_type),
                   index_path: source_types_path,
                   new_path: new_source_type_path
           }
%>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Main Attributes
      </div>

      <div class="list-group dl-horizontal">
        <div class="list-group-item">
          <h5 class="text-muted">Name</h5>
          <div><%= @source_type.name %></div>
        </div>
        <div class="list-group-item">
          <h5 class="text-muted">File Pattern</h5>
          <div><%= @source_type.file_pattern %></div>
        </div>
        <div class="list-group-item">
          <h5 class="text-muted">Supporting Documentation</h5>
          <div><%= link_to @source_type.documentation.title, @source_type.documentation if @source_type.documentation %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Description
        <%= link_to "Print", "#", id: "print-link", class: 'print-link pull-right' %>

      </div>
      <div class="panel-body scroll">

        <div id="print-area">
          <%= markdown @source_type.description %>
        </div>
      </div>

    </div>
  </div>
</div>
