<%=
    render partial: "layouts/show_page_header",
           locals: {
                   model: @event_dictionary,
                   title: "Event Dictionary: #{@event_dictionary.name}",
                   edit_path: edit_event_dictionary_path(@event_dictionary),
                   index_path: event_dictionary_index_path,
                   new_path: new_event_dictionary_path
           }
%>

<div class="row">
  <div class="col-md-6">
    <dl>
      <dt>Name</dt>
      <dd><%= @event_dictionary.name %></dd>

      <dt>Description</dt>
      <dd><%= markdown @event_dictionary.description %></dd>
    </dl>
  </div>

  <div class="col-md-6">
    <dl>
      <dt><%= @event_dictionary.data_dictionary.count %> Data Records</dt>
      <dd>
        <ul>
          <% @event_dictionary.data_dictionary.order(:title).each do |data_record| %>
            <li><%= link_to data_record.title, data_record %></li>
          <% end %>
        </ul>
      </dd>
    </dl>

    <p>Number of existing events: <%= @event_dictionary.events.count %></p>
  </div>
</div>
