<div class="page-header">
  <h1>New Form <small>Post-Sleep Questionnaire</small></h1>
</div>
<div id="event_form">
  <%= form_for @event, html: {role: 'form'} do |f| %>
    <%= display_errors @event %>

    <%= f.hidden_field :name, value: @event.name %>
    <div class="row">
      <div class="col-md-6">
        <fieldset>
          <div class="form-group">
            <label for="subject_code" class="control-label">Subject code</label>
            <input type="text" name="subject_code" id="subject_code" placeholder="Subject Code" class="form-control">
          </div>

          <div class="form-group">
            <label for="event[labtime]" class="control-label">Subject code</label>
            <input type="text" name="subject_code" id="subject_code" placeholder="Subject Code" class="form-control">
          </div>

        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset>
            <% @event.event_dictionary.data_dictionary.each do |dd_record| %>
              <div class="form-group">
                <input type="hidden" name="event[data_list][title]" value="<%= dd_record.title %>">
                <label for="event[data_list][value]" class="control-label"><%= dd_record.title.titleize %></label>
                <input type="text" class="form-control" class="form-control" name="event[data_list][value]">
              </div>
            <% end %>
        </fieldset>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Create #{@event.name.titleize}", class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
<% end %>
</div>
