<div class="page-header">
  <h1><%= @title %></h1>
</div>


<div id="data_type_form">
  <%= form_for @data_types, html: {role: 'form', class: 'form-horizontal'} do |f| %>
      <%= display_errors @data_types %>

      <div class="form-group">
        <%= f.label :name, nil, class: 'control-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :storage, nil, class: 'control-label' %>
        <%= f.select :storage, DataValue::VALUE_FIELDS, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :range, nil, class: 'control-label' %>
        <%= f.check_box :range, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :length, nil, class: 'control-label' %>
        <%= f.check_box :length, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :values, nil, class: 'control-label' %>
        <%= f.check_box :values, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :multiple, nil, class: 'control-label' %>
        <%= f.check_box :multiple, class: 'form-control' %>
      </div>

      <div class="form-actions">
        <%= f.submit nil, class: 'btn btn-primary' %>
        <%= cancel %>
      </div>
  <% end %>
</div>