<div class="page-header">
  <h1><%= "Initialize List of Subjects" %></h1>
</div>

<%= form_tag create_list_subjects_path, method: :post  do %>
  <div class="form-group">
    <label for="subjects[subject_codes]">Subject Codes</label>
    <%= text_area_tag 'subjects[subject_codes]', nil, class: 'form-control', rows: 8 %>
  </div>

  <div class="form-actions">
    <%= submit_tag "Create Subjects", class: 'btn btn-primary' %>
    <%= cancel %>
  </div>

<% end %>