
<%= form_tag path, method: :get, remote: true, id: "#{object}_search", class: 'form-search', data: { object: 'form-load' }, role: "search" do %>
  <%= hidden_field_tag :order, params[:order] %>
  <%= hidden_field_tag :per_page, params[:per_page] %>
  <%= hidden_field_tag :one_page, nil %>
  <div class='form-group'><%= text_field_tag 'search', params[:search], class: 'search-query form-control', placeholder: "Search" %></div>
  <%= link_to 'Submit', "#", class: 'btn btn-default submit-button' %>
<% end %>



<ul class="pagination pagination-right">
  <li class="disabled"><a href="#">Per Page</a></li>
  <% [5,10,25,50,:all].each do |count| %>
    <li class="<%= 'active' if false %> per_page"><%= link_to count, "#", 'data-object' => object, 'data-per-page' => count, 'data-form' => "##{object}_search", id: "count_#{count}" %></li>
  <% end %>
</ul>
