- header = current_page?(root_path) || content_for?(:header)

%div{ class: header ? 'navbar-outer' : nil }
  %nav.navbar.navbar-default{ class: (header ? nil : 'navbar-fixed-top affix'), data: { object: (header ? 'navbar-affix' : nil) } }
    .container
      .navbar-header
        %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-full-menu' } }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'BWH Sleep Access', root_path, class: 'navbar-brand brand'
      .collapse.navbar-collapse.navbar-full-menu
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Study Info
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to subjects_path do
                  Studies
              %li
                = link_to subjects_path do
                  Subjects
              %li
                = link_to subject_groups_path do
                  Subject Groups

          %li{ class: "#{ 'active' if params[:controller] == 'event_dictionary' }" }
            = link_to event_dictionary_index_path do
              Event Dictionary
          %li{ class: "#{ 'active' if params[:controller] == 'data_dictionary' }" }
            = link_to data_dictionary_index_path do
              Data Dictionary
          %li{ class: "#{ 'active' if params[:controller] == 'documentations' }" }
            = link_to documentations_path do
              Docs
          %li{ class: "#{ 'active' if params[:controller] == 'sources' }" }
            = link_to sources_path do
              Sources
          %li{ class: "#{ 'active' if params[:controller] == 'source_types' }" }
            = link_to source_types_path do
              Source Types

        - if current_user
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = current_user.email
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Logout', destroy_user_session_path

        - else
          %form.navbar-form.navbar-right
            = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' unless current_page?(new_user_registration_path)
            = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary'